body {
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 40px;
  margin: 30px 0;
}

/* Customize background colors */
body {
  background-color: #f0f0f0; /* Light gray */
}

/* Optional: Add some padding to the content */
.container-fluid {
  padding: 20px;
}

/* Optional: Add some box shadow to the content */
.col-sm-8 {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Attractive background colors for heading sections */
h1:nth-of-type(odd) {
  background-color: #f9a825; /* Yellow */
  color: #fff;
  padding: 10px;
}

h1:nth-of-type(even) {
  background-color: #1976d2; /* Blue */
  color: #fff;
  padding: 10px;
}

/* Add some margin to the headings */
h1 {
  margin-bottom: 40px;
}

/* Customize the navbar colors */
.navbar {
  background-color: #4CAF50; /* Green */
}

.nav-link {
  color: #fff !important;
  font-size: 18px;
  padding: 10px 20px;
}

/* Add some margin to the navbar links */
.nav-item {
  margin-right: 15px;
}

/* Add background image */
.background-image {
  background-image: url('i1.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; /* Adjust the height as needed */
}
